body, html {
    font-family:Helvetica,Arial,sans-serif;
    width:100%;
    margin:0;
}
.container {
    width:90%;
    margin:0 auto;
    margin-bottom:100px;
}
.flex {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.img {
    margin-right:1em;
    display:block;
}
input#notes {
    width:500px;
}
.thumb {
    display:inline-block;
    width:100px;
    height:120px;
    margin:1px;
    font-size:10pt;
    text-align:center;
}
.thumb_lg {
    display:inline-block;
    width:200px;
    height:220px;
    margin:1px;
    font-size:10pt;
    text-align:center;
}