<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Weird Galaxies</title>
</head>
<body>

    <div class="container">
        <center>
            <h3>Final Candidates</h3>
        </center>

        <div class="flex">
            {% for thumb in thumb_list %}
                <a href="/view/{{thumb.name}}"><img class="thumb" src="{{thumb.img}}" alt='{{thumb.name}}'></a>
            {% endfor %}
        </div>

    </div>

</body>

</html>