<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>Weird Galaxies</title>
</head>
<body>

    <div class="container">
        <center>
            <h3>Final Candidates</h3>
        </center>

        <center>
            <h4>Keep</h4>
        </center>
        <div class="flex">
            {% for thumb in thumb_list %}
                {% if thumb.keep == 'Y' %}
                    <a class="thumb" href="/view/{{thumb.name}}"><img src="{{thumb.img}}">{{thumb.shortname}}</a>
                {% endif %}
            {% endfor %}
        </div>
        <center>
            <h4>Maybe</h4>
        </center>
        <div class="flex">
            {% for thumb in thumb_list %}
                {% if thumb.keep == 'M' %}
                    <a class="thumb" href="/view/{{thumb.name}}"><img src="{{thumb.img}}">{{thumb.shortname}}</a>
                {% endif %}
            {% endfor %}
        </div>
        <center>
            <h4>No</h4>
        </center>
        <div class="flex">
            {% for thumb in thumb_list %}
                {% if thumb.keep == 'N' %}
                    <a class="thumb" href="/view/{{thumb.name}}"><img src="{{thumb.img}}">{{thumb.shortname}}</a>
                {% endif %}
            {% endfor %}
        </div>

    </div>

</body>

</html>