<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <title>{{galaxy.Arp}}</title>
</head>
<body>

    <div class="container">
        <center>
            <h3>{{galaxy.Arp}}</h3>
        </center>

        <div class="flex">
            <div class="img">
                <p>Scale: 12 arcmin on a side</p>
                <img src="http://alasky.u-strasbg.fr/hips-thumbnails/thumbnail?ra={{galaxy.RA}}&dec={{galaxy.Dec}}&fov=0.2&width=400&height=400">
            </div>
            <div class="img">
                <p>Scale: 3.6 arcmin on a side</p>
                <img src="http://alasky.u-strasbg.fr/hips-thumbnails/thumbnail?ra={{galaxy.RA}}&dec={{galaxy.Dec}}&fov=0.06&width=400&height=400">
            </div>
        </div>
        <center>
            <p><a href="https://hla.stsci.edu/hlaview.html#FlFootprints|filterText%3D%24filterTypes%3D|query_string={{galaxy.RA}}%2C{{galaxy.Dec}}&posfilename=&poslocalname=&posfilecount=&listdelimiter=whitespace&listformat=degrees&RA={{galaxy.RA}}&Dec={{galaxy.Dec}}&Radius=0.100000&inst-control=all&inst=ACS&inst=ACSGrism&inst=WFC3&inst=WFPC2&inst=NICMOS&inst=NICGRISM&inst=COS&inst=WFPC2-PC&inst=STIS&inst=FOS&inst=GHRS&imagetype=best&prop_id=&spectral_elt=&proprietary=both&preview=1&output_size=256&cutout_size=12.8|ra=&dec=&sr=&level=&image=&inst=ACS%2CACSGrism%2CWFC3%2CWFPC2%2CNICMOS%2CNICGRISM%2CCOS%2CWFPC2-PC%2CSTIS%2CFOS%2CGHRS&ds=">View on HLA</a></p>
            <table>
                {% for k,v in galaxy.items() %}
                <tr>
                    <th>{{k}}</th><td>{{v}}</td>
                </tr>
                {% endfor %}
            </table>
        </center>
    </div>

</body>
</html>